<div id="create">
  <div id="record" (click)="recordBtnClicked()" [class.recording]="isRecording">
    <i class="fa fa-microphone" aria-hidden="true"></i>
  </div>
  <div id="playAll">
    <span class="flute"></span>
    <span [class.hidden]="channels.length == 0" (click)="playAll()"><div class="play-all-icon"><i class="fa fa-play"></i></div> {{longestDuration | audioDuration}}</span>
  </div>
  <div id="channels">
    <app-audio-channel
      *ngFor="let c of channels"
      (remove)="removeChannel($event)"
      [channel]="c">
    </app-audio-channel>
  </div>
  <div *ngIf="channels?.length">
    <app-save-mix [sources]="channels"></app-save-mix>
  </div>
</div>
