$bgColor: rebeccapurple;
$textColor: white;

#record {
  font-size: 47pt;
  border: 2px solid;
  border-radius: 50px;
  width: 26%;
  margin: auto;
  position: absolute;
  left: 36%;
  bottom: 28px;
  background: repeating-radial-gradient($bgColor, transparent 100px);
  color: $textColor;

    &.recording {
      animation: recording 1s infinite;
      transition-duration: 0.7s;
    }
}

#playAll {
  color: $textColor;
  background: linear-gradient($bgColor, transparent);
  padding: 8% 0;

  .play-all-icon {
    font-size: 36pt;
  }

  .recording-icon {
    font-size: 36pt;
    animation: recording-icon 1s infinite;
  }

  .hidden {display: none;}
}

@keyframes recording {
  0% {
    color: red;
   }
  50% {
    color: $textColor;
    transform: rotate(
      180deg
      );
  }
  100% {
    color: red;
    transform: rotate(
      360deg
      );
  }
}

@keyframes recording-icon {
  0% {
    color: red;
   }
  50% {
    color: $textColor;
  }
  100% {
    color: red;
  }
}
